@import "tailwindcss";

@theme {
    --color-bacground: #000;
    --color-border: rgba(255, 255, 255, .2);
    --color-text: #f1f1f1;
    --color-input-bg:#000;
    --color-responce-bg: #ccc;
    --color-item-hover: #454545;
}

@layer components {
    .sidebaritem {
        @apply flex items-center px-1.5 py-2 gap-3.5 hover:bg-item-hover cursor-pointer;
    }
}